body#LoginForm{ background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;}

.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}

  


.sidebar-nav {
  margin: 0;
  padding: 0;
  width: 250px;
}
.sidebar-nav li {
  position: relative;
  list-style-type: none;
  width: 100%;
}
.sidebar-nav li:hover {
  background: grey
}
.sidebar-nav li a {
  position: relative;
  cursor: pointer;
  user-select: none;
  display: block;
  height: 48px;
  line-height: 48px;
  padding: 0;
  padding-left: 16px;
  padding-right: 56px;
  text-decoration: none;
  clear: both;
  font-weight: 500;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: myriad;
  font-size: 18px;
  color: white !important;
}
.ng-sidebar{
  background:black !important;
}



/* Hambuger style */
.hamburger {
  width: 30px;
  height: 30px;
  /* Hambuger hover animation */
}
.hamburger span {
  display: block;
  margin: 2px auto;
  background-color: white;
  width: 38%;
  height: 2px;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.hamburger span:first-child {
  transform: translateY(9px) rotate(45deg);
}
.hamburger span:last-child {
  transform: translateY(12px) rotate(-45deg);
}
.hamburger:hover span:first-child {
  transform: translateY(9px) rotate(45deg);
}
.hamburger:hover span:last-child {
  transform: translateY(12px) rotate(-45deg);
}

/* Hambuger click animation to cross */
.hamburger.is-opened span:first-child {
  transform: translateY(9px) rotate(-45deg);
}
.hamburger.is-opened span:last-child {
  transform: translateY(12px) rotate(45deg);
}
